body {
    background: silver;
}

header {
    background: sienna;
    padding: 20px;
}

nav {
    padding: 10px;
}

nav > a {
    padding: 5px;
    text-decoration: none;
}

nav > a:hover {
    color: sienna;
}

footer {
    background: greenyellow;
    padding: 20px;
}

article {
    background: gray;
    padding: 20px;
}